extends layout

block content
  h1= title
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at ipsam iusto minus nobis pariatur recusandae repellendus sit? Asperiores deleniti, eligendi esse est fugiat incidunt libero ratione vel. Dignissimos, non.
