doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./Navbar.pug
    block content
      h1(class='title')= title
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at ipsam iusto minus nobis pariatur recusandae repellendus sit? Asperiores deleniti, eligendi esse est fugiat incidunt libero ratione vel. Dignissimos, non.
