doctype html
html
    head
        title= 'Nav-bar'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        block content
            a(class='button' href='/') Home
            a(class='button' href='/Contact-us') Contact us
            a(class='button' href='/Our-services') Our services


