body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: wheat;
}

a {
  color: #00B7FF;
}

.title {
  color: saddlebrown;
}

.button {
  font-size: x-large;
  padding-left: 30px;
  padding-right: 30px;
}

